@media only screen and (min-width: 320px) and (max-width:480px) {
    * {
        font-size: 6px;
    }
    .title {
        font-size: 3.5rem;
        font-weight: bold;
    }
    .subtitle {
        font-weight: 400;
        font-size: 2.5rem;
        margin-top: 10px;
    }
    .email-text {
        font-size: 3rem;
        font-weight: 400;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
    }
    .banner-wrap {
        background: url("/assets/bgimage2.jpeg");
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
        color: white;
        position: relative;
        z-index: 1;
    }
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: black;
        opacity: 65%;
        z-index: -1;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px;
        padding-top: 10px;
    }
    nav img {
        height: 25px;
    }
    nav .sign-in-btn {
        line-height: normal;
        font-size: 1.9rem;
        margin-top: .35rem;
        font-weight: 400;
        padding: .25rem .5rem;
        height: 26px;
        width: 50px;
        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        background-color: #e50914;
    }
    .banner-container {
        height: calc(100% + 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .get-started-form {
        display: block;
        margin: 2.5em;
    }
    .get-started-form input {
        width: 320px;
        height: 50px;
        border: none;
        font-size: 12px;
        margin-bottom: 2em;
        padding: 10px;
    }
    .get-started-form button {
        width: 150px;
        height: 40px;
        border: none;
        color: white;
        font-size: 10px;
        background-color: red;
    }
    .info-container {
        width: 100%;
        display: block;
        color: white;
        background-color: black;
        padding: 0 50px;
        border-top: 10px #222222 solid;
        align-items: center;
    }
    .info {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tv-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .tv-container video {
        position: absolute;
        width: 100%;
    }
    .tv-container img {
        z-index: 1;
        width: 100%;
    }
    footer {
        background: black;
        border-top: 10px #222222 solid;
        color: gray;
        padding: 50px;
    }
    footer ul li {
        margin: 7px;
        list-style-type: none;
        cursor: pointer;
        font-size: 14px;
    }
    footer ul {
        columns: 2;
    }
    footer ul li:hover {
        text-decoration: underline;
    }
    .kids-container {
        flex-direction: column-reverse;
    }
    .kids-container img {
        width: 100%;
    }
    .kids-info {
        width: 100%;
        text-align: center;
    }
    .kids-substitle {
        font-weight: 200;
        text-align: center;
        font-size: 2.5em;
        margin-top: 10px;
        display: flex;
    }
}